.experience-container{
width: 100%;
margin:0 auto;
padding: 20px
}

.cross-bar{
    display:grid;
    grid-template-columns: 2fr 4fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.input-field{
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr .5fr;
    gap: 10px;
    align-items: center;

}

.input-field input, .input-field button{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.input-field button{
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.input-field button:hover{
    color: red;
    box-shadow: 0 0 5px red;
}

.label{
    text-align: center;
}