.personal-information{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    width: 50%;
}
h2{
    grid-area: 1 /1 / 2/ -1
}
.input-field-contact{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.input-field-contact input{
    padding: 5px;
}