.personal-information{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    width: 50%;
    margin:0 auto;
    padding: 20px
}
h2{
    grid-area: 1 /1 / 2/ -1
}
.input-field-contact{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.input-field-contact input{
    padding: 5px;
}

@media screen and (max-width:500px){

    .personal-information{
      margin:0;
      padding:0;
      width: 100%;
    }
  }